.bgimg2 {
	background-image: url('https://media.istockphoto.com/id/1355464301/photo/abstract-background-with-cube-3d-rendering-technology-shape-with-lines-and-dots-futuristic.jpg?b=1&s=170667a&w=0&k=20&c=gYlwKCTHSFNl0zvFctKdDJONWEhaVjwyj53MLnr-9w0=');
	background-size: cover;
	height: 150vh;	
}
.mobilehead{
	color: white; 
	font-family: 'Prosto one'
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
}
.layoutcard2{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	margin: 20px;
}
.brandsimg {
	width: 120px;
	height: 120px;
}
.brandshead{
	color: #ed4074;
	font-family: 'Prosto one'
	font-weight: bold;
	font-size: 30px;
}
.brandspara{
	color: gray;
	font-family: 'Prosto one'
	font-size: 15px;

}