.bgimg3{
	background-image: url('https://img.freepik.com/premium-photo/hand-touching-telecommunication-network-wireless-mobile-internet-technology-with-5g-lte-data_102957-888.jpg?w=2000');
	background-size: cover;
	height: 200vh;
}
.headfirst{
	color: white;
	font-family: 'Prosto One';
	font-size: 30px;
	font-weight: bold;
	padding: 25px;
}
.cardlayout{
	background-color: white;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;

}
.cardcon{
	padding: 20px;
}
.headsecond{
	color: blue;
	font-family: 'Prosto One'
	font-size: 20px;
	font-weight: bold;
}
.paraline{ 
	font-family: 'Prosto One';
	font-size: 13px;
}